In [1]:
import pandas as pd
import os

In [2]:
file1 = os.path.join("Resources","hawaii_measurements.csv")
hi_data = pd.read_csv(file1)
hi_data = hi_data.dropna()
hi_data = hi_data.rename(columns={'prcp':'precipitation', 'tobs':'temperature'})
hi_data.to_csv("Resources/clean_hawaii_measurements.csv", index=False)
hi_data.head()

       station        date  precipitation  temperature
0  USC00519397  2010-01-01           0.08           65
1  USC00519397  2010-01-02           0.00           63
2  USC00519397  2010-01-03           0.00           74
3  USC00519397  2010-01-04           0.00           76
5  USC00519397  2010-01-07           0.06           70

In [3]:
file2 = os.path.join("Resources","hawaii_stations.csv")
hi_stations = pd.read_csv(file2)
hi_stations.to_csv("Resources/clean_hawaii_stations.csv", index=False)
hi_stations

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [4]:
hi_station_data = pd.merge(hi_data, hi_stations, on="station", how="outer")
print (hi_station_data.count())
hi_station_data.head()

station          18103
date             18103
precipitation    18103
temperature      18103
name             18103
latitude         18103
longitude        18103
elevation        18103
dtype: int64

,station,date,precipitation,temperature,name,latitude,longitude,elevation
0,USC00519397,2010-01-01,0.08,65,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00519397,2010-01-02,0.00,63,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
2,USC00519397,2010-01-03,0.00,74,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
3,USC00519397,2010-01-04,0.00,76,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
4,USC00519397,2010-01-07,0.06,70,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0

In [5]:
avg_prcp_station = pd.DataFrame(hi_station_data['precipitation'].groupby(hi_station_data['station']).mean()).reset_index().rename(columns={'precipitation': 'avg_prcp'})
avg_tobs_station = pd.DataFrame(hi_station_data['temperature'].groupby(hi_station_data['station']).mean()).reset_index().rename(columns={'temperature': 'avg_tobs'})
df1 = pd.merge(avg_prcp_station, hi_stations, on='station', how='left')
avg_tobs_prcp = pd.merge(avg_tobs_station, df1, on='station', how='left')[['station', 'avg_tobs', 'avg_prcp', 'elevation']].sort_values('avg_tobs', ascending=False)
avg_tobs_prcp

       station   avg_tobs  avg_prcp  elevation
2  USC00514830  74.813113  0.121058        7.0
4  USC00517948  74.587116  0.063602       11.9
7  USC00519397  74.564246  0.049020        3.0
8  USC00519523  74.532659  0.114961       19.5
1  USC00513117  72.678042  0.141921       14.6
5  USC00518838  72.675439  0.207222      306.6
6  USC00519281  71.663781  0.212352       32.9
0  USC00511918  71.527433  0.047971        0.9
3  USC00516128  70.865137  0.429988      152.4